@import "./color-sceme.scss";

.button {
    border: none;
    border-radius: 25px;
    background: $main-color;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    cursor: pointer;

    &:hover, &:disabled {
        background-color: $light-color;
    }
}

.button.light {
    background: $semi-light-color;
    color: black;

    &:hover, &:disabled {
        background-color: $light-color;
    }
}

h1.title {
    color: $main-color;
    margin: 10px 10px;
}

h3.subtitle {
    color: black;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 0px;
    margin: 0px 10px;
    font-weight: normal;
}

a {
    color: #888;

    &:hover {
        color: $main-color;
    }
}

hr {
    color: $main-color;
}

.checkmark-item {
    display: flex;
    align-items: flex-end;
    line-height: 23px;
    margin-bottom: 10px;

    .checkmark-circle {
        background-image: url('~@/assets/checkmark.png');
        width: 20px;
        height: 20px;
        display: inline-block;
        background-color: lightgreen;
        border-radius: 100%;
        margin-right: 10px;
        background-size: cover;
        border: 5px solid lightgreen;
    }
}

.banner-top, .banner-bottom {
    background: $very-light-color;
    width: 100vw;
}

.banner-bottom {
    transform: rotate(180deg);
}

select {
    border: none;
    background: none;
    appearance: none;
    border-bottom: 3px solid $main-color;

    &::-ms-expand {
        display: none;
    }
}

.dropdown-icon {
    color: $main-color;
    margin-left: -20px;
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.half-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    padding: 40px;
    margin-top: 20px;

    .grid-item-title {
        font-weight: bold;
        font-size: large;
        color: $main-color;
        text-align: left;
        padding-bottom: 15px;
    }

    .grid-item-content {
        text-align: left;
    }

    .grid-item {
        background: white;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 15px 3px #68686844;
    }
}

.framed-image {
    border: 10px solid white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 17px 10px #686868AB;
    width: 300px;
}

// Small devices
@mixin small {
   @media (max-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin medium {
   @media (max-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin large {
   @media (max-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xlarge {
   @media (max-width: #{$screen-xl-min}) {
       @content;
   }
}

table {
    border-collapse: collapse;

    thead {
        font-weight: bold;
        background: $main-color;
        color: white;

        td {
            padding: 20px 20px;
        }
    }

    tbody {
        tr {
            td {
                padding: 10px 20px;
            }

            background: white;

            &:nth-child(odd) {
                background: $light-color;
            }
        }
    }
}

.button {
    margin-right: 10px;
    color: white;
    background: $main-color;
}

.spinning {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}